<div>
    <img src="/imgs/splash.jpg" alt="League Dashboard"/>
    <h1>League Dashboard</h1>
</div>
<div class="ui divider"></div>

<section id="pages">
    <article>
        <h2 class="ui header">Services</h2>
        <div class="ui grid">
            <div class="five wide column">
                <h3 class="ui header">Something</h3>
                <i class="signal icon huge" ></i>
                <p>Detailed Graphs</p>
            </div>
            <div class="five wide column">
                <h3 class="ui header">Something</h3>
                <i class="refresh icon huge" ></i>
                <p>Updated Frequently</p>
            </div>
            <div class="five wide column">
                <h3 class="ui header">Something</h3>
                <i class="dashboard icon huge" ></i>
                <p>aubvuruenin nwuernqenbp wnebpnpenrb neqprn</p>
            </div>
        </div>
        <div class="ui divider"></div>
    </article>
    <article>
        <h2 class="ui header">About</h2>
        
        <div class="ui divider"></div>
    </article>
    <article>
        <h2 class="ui header">Data</h2>
    </article>
</section>
