<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="active item" href="/wiki/">
        Home
      </a>
      <a class="item" href="/wiki/champions">
        Champions
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      
    </div>
  </div>
</div>
